# Bellabeat: How Can a Wellness Technology Company Play It Smart?

![header_img](assets/header_img.png)

This case study is part of the **Google Data Analytics Professional Certificate Capstone Project**.


Author: John Klenn Andrew P. Dungaran \
Date: April 2024

<br>

# TABLE OF CONTENTS

* [INTRODUCTION](#introduction)
    * [Background](#background)
    * [Stakeholders and products](#stakeholders-and-products)
* [ASK](#step-1-ask)
    * [1.1 Business Task](#11-business-task)
    * [1.2 Business Objectives](#12-business-objectives)
    * [1.3 Deliverables](#13-deliverables)
* [PREPARE](#step-2-prepare)
    * [2.1 Data Information](#21-data-information)
    * [2.2 Data Limitations](#22-data-limitations)
* [PROCESS](#step-3-process)
    * [3.1 Imports](#31-imports)
    * [3.2 Data Cleaning](#32-data-cleaning)
    * [3.3 Merging Tables](#33-merging-tables)
    * [3.4 Fixing Data Types](#34-fixing-data-types)
* [ANALYZE](#step-4-analyze)

<br>

# INTRODUCTION

Welcome to the Bellabeat data analysis case study!

In this case study, I will perform real-world tasks of a junior data analyst. In order to answer the key business questions, I will follow the steps of the data analysis process: 

**Ask, Prepare, Process, Analyze, Share, and Act**. 

![analysis_process](assets/analysis_process.png)

### Background

I am a junior data analyst working on the **marketing analyst** team at Bellabeat, a high-tech manufacturer of health-focused products for women. Urška Sršen, cofounder and Chief Creative Officer of Bellabeat, believes that analyzing smart device fitness data could help unlock new growth opportunities for the company.

I have been asked to focus on one of Bellabeat’s products and analyze smart device data to gain insight into how consumers are using their smart devices. The insights I discover will then help guide marketing strategy for the company.

### Stakeholders and Products

* **Stakeholders**

    * **Urška Sršen**: Bellabeat’s cofounder and Chief Creative Officer
    * **Sando Mur**: Mathematician and Bellabeat’s cofounder; key member of the Bellabeat executive team
    * **Bellabeat marketing analytics team**: A team of data analysts responsible for collecting, analyzing, and reporting data that helps guide Bellabeat’s marketing strategy.

* **Products**

    * **Bellabeat app**: The Bellabeat app provides users with health data related to their activity, sleep, stress, menstrual cycle, and mindfulness habits. This data can help users better understand their current habits and make healthy decisions. The Bellabeat app connects to their line of smart wellness products.
    * **Leaf**: Bellabeat’s classic wellness tracker can be worn as a bracelet, necklace, or clip. The Leaf tracker connects to the Bellabeat app to track activity, sleep, and stress.
    * **Time**: This wellness watch combines the timeless look of a classic timepiece with smart technology to track user activity, sleep, and stress. The Time watch connects to the Bellabeat app to provide you with insights into your daily wellness.
    * **Spring**: This is a water bottle that tracks daily water intake using smart technology to ensure that you are appropriately hydrated throughout the day. The Spring bottle connects to the Bellabeat app to track your hydration levels.
    * **Bellabeat membership**: Bellabeat also offers a subscription-based membership program for users. Membership gives users 24/7 access to fully personalized guidance on nutrition, activity, sleep, health and beauty, and mindfulness based on their lifestyle and goals.

<br>
<br>

# STEP 1: ASK

### 1.1 Business Task

Analyze smart device usage data in order to gain insight into how consumers use non-Bellabeat smart devices. Then, select one Bellabeat product to apply these insights for Bellabeat marketing strategy.

### 1.2 Business Objectives

1. What are the trends identified?
2. How could these trends apply to Bellabeat customers?
3. How could these trends help influence Bellabeat marketing strategy?

### 1.3 Deliverables

1. A clear summary of the business task
2. A description of all data sources used
3. Documentation of any cleaning or manipulation of data
4. A summary of your analysis
5. Supporting visualizations and key findings
6. Your top high-level content recommendations based on your analysis

<br>
<br>

# STEP 2: PREPARE

### 2.1 Data Information

* The data was retrieve publicly from Kaggle: [FitBit Fitness Tracker Data](https://www.kaggle.com/datasets/arashnic/fitbit).
* The database is segmented into 18 different csv files with lots of details about the user's behaviour.
* It contains personal fitness tracker from thirty (30) fitbit users who gave their consent.
* The data includes minute-level output for physical activities, heart rate, sleep monitoring, daily activity, and steps.

### 2.2 Data Limitations

* **Small Sample Size**: The sample size of 30 female users is not representative of the entire female population.
* **Outdated**: Data collected from 2016. Daily activities from users may have changed overtime making the data unreliable.
* **Prone to Bias**: The data did not provide demographic information other than that they are all female which could lead to bias or discrepancies in the analysis.

<br>
<br>

# STEP 3: PROCESS

The tool which I will be using is Python since it can do Data Preparation, Analysis, and Visualization.

### 3.1 Imports

In [1]:
# Importing libraries.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

In [2]:
# Importing the data.

df_daily_activity = pd.read_csv('Datasets/Fitabase Data 4.12.16-5.12.16/dailyActivity_merged.csv')
df_hourly_intensities = pd.read_csv('Datasets/Fitabase Data 4.12.16-5.12.16/hourlyIntensities_merged.csv')
df_hourly_steps = pd.read_csv('Datasets/Fitabase Data 4.12.16-5.12.16/hourlySteps_merged.csv')
df_hourly_calories = pd.read_csv('Datasets/Fitabase Data 4.12.16-5.12.16/hourlyCalories_merged.csv')
df_sleep_day = pd.read_csv('Datasets/Fitabase Data 4.12.16-5.12.16/sleepDay_merged.csv')
df_weight_log = pd.read_csv('Datasets/Fitabase Data 4.12.16-5.12.16/weightLogInfo_merged.csv')

### 3.2 Data Cleaning

In [3]:
# Checking for duplicates.

display(df_daily_activity.duplicated().value_counts())
display(df_hourly_intensities.duplicated().value_counts())
display(df_hourly_steps.duplicated().value_counts())
display(df_hourly_calories.duplicated().value_counts())
display(df_sleep_day.duplicated().value_counts())
display(df_weight_log.duplicated().value_counts())

False    940
Name: count, dtype: int64

False    22099
Name: count, dtype: int64

False    22099
Name: count, dtype: int64

False    22099
Name: count, dtype: int64

False    410
True       3
Name: count, dtype: int64

False    67
Name: count, dtype: int64

<br>

There are 3 duplicates on the `df_sleep_day` dataframe. We should investigate this further.

<br>

In [4]:
# Finding the duplicated values. The output will show the 2nd time the values occured.

df_sleep_day.loc[df_sleep_day.duplicated()]

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
161,4388161847,5/5/2016 12:00:00 AM,1,471,495
223,4702921684,5/7/2016 12:00:00 AM,1,520,543
380,8378563200,4/25/2016 12:00:00 AM,1,388,402

In [5]:
# Querying the duplicated values.

display(df_sleep_day.query('TotalMinutesAsleep == 471 & TotalTimeInBed == 495'))
display(df_sleep_day.query('TotalMinutesAsleep == 520 & TotalTimeInBed == 543'))
display(df_sleep_day.query('TotalMinutesAsleep == 388 & TotalTimeInBed == 402'))

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
160,4388161847,5/5/2016 12:00:00 AM,1,471,495
161,4388161847,5/5/2016 12:00:00 AM,1,471,495

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
222,4702921684,5/7/2016 12:00:00 AM,1,520,543
223,4702921684,5/7/2016 12:00:00 AM,1,520,543

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
379,8378563200,4/25/2016 12:00:00 AM,1,388,402
380,8378563200,4/25/2016 12:00:00 AM,1,388,402

<br>

From this investigation, the values are verified to be duplicated thus we need to delete them.

<br>

In [6]:
# Deleting the duplicate values.

df_sleep_day = df_sleep_day.loc[~df_sleep_day.duplicated()].copy()

# Checking.

df_sleep_day.duplicated().value_counts()

False    410
Name: count, dtype: int64

### 3.3 Merging Tables

In [7]:
# Joining the Hourly tables.

df_hourly = pd.merge(left=df_hourly_intensities, right=df_hourly_steps, how='inner', on=['Id', 'ActivityHour'])
df_hourly = pd.merge(left=df_hourly, right=df_hourly_calories, how='inner', on=['Id', 'ActivityHour'])

display(df_hourly)
df_hourly.info()

,Id,ActivityHour,TotalIntensity,AverageIntensity,StepTotal,Calories
0,1503960366,4/12/2016 12:00:00 AM,20,0.333333,373,81
1,1503960366,4/12/2016 1:00:00 AM,8,0.133333,160,61
2,1503960366,4/12/2016 2:00:00 AM,7,0.116667,151,59
3,1503960366,4/12/2016 3:00:00 AM,0,0.000000,0,47
4,1503960366,4/12/2016 4:00:00 AM,0,0.000000,0,48
...,...,...,...,...,...,...
22094,8877689391,5/12/2016 10:00:00 AM,12,0.200000,514,126
22095,8877689391,5/12/2016 11:00:00 AM,29,0.483333,1407,192
22096,8877689391,5/12/2016 12:00:00 PM,93,1.550000,3135,321
22097,8877689391,5/12/2016 1:00:00 PM,6,0.100000,307,101
22098,8877689391,5/12/2016 2:00:00 PM,9,0.150000,457,113

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22099 entries, 0 to 22098
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                22099 non-null  int64
 1   ActivityHour      22099 non-null  object
 2   TotalIntensity    22099 non-null  int64
 3   AverageIntensity  22099 non-null  float64
 4   StepTotal         22099 non-null  int64
 5   Calories          22099 non-null  int64
dtypes: float64(1), int64(4), object(1)
memory usage: 1.0+ MB

### 3.4 Fixing Data Types

In [9]:
# Getting table information.

display(df_daily_activity.info())
display(df_hourly.info())
display(df_sleep_day.info())
display(df_weight_log.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22099 entries, 0 to 22098
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                22099 non-null  int64
 1   ActivityHour      22099 non-null  object
 2   TotalIntensity    22099 non-null  int64
 3   AverageIntensity  22099 non-null  float64
 4   StepTotal         22099 non-null  int64
 5   Calories          22099 non-null  int64
dtypes: float64(1), int64(4), object(1)
memory usage: 1.0+ MB

None

<class 'pandas.core.frame.DataFrame'>
Index: 410 entries, 0 to 412
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  410 non-null    int64
 1   SleepDay            410 non-null    object
 2   TotalSleepRecords   410 non-null    int64
 3   TotalMinutesAsleep  410 non-null    int64
 4   TotalTimeInBed      410 non-null    int64
dtypes: int64(4), object(1)
memory usage: 19.2+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              67 non-null     int64
 1   Date            67 non-null     object
 2   WeightKg        67 non-null     float64
 3   WeightPounds    67 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             67 non-null     float64
 6   IsManualReport  67 non-null     bool
 7   LogId           67 non-null     int64
dtypes: bool(1), float64(4), int64(2), object(1)
memory usage: 3.9+ KB

None

<br>

As we can see, the data type for columns with supposed date values are `objects` instead of `datetime`.

<br>

In [ ]:
# Fixing the data types.

df_daily_activity['ActivityDate'] = pd.to_datetime(df_daily_activity['ActivityDate'])
df_hourly['ActivityHour'] = pd.to_datetime(df_hourly['ActivityHour'])
df_sleep_day['SleepDay'] = pd.to_datetime(df_sleep_day['SleepDay'])
df_weight_log['Date'] = pd.to_datetime(df_weight_log['Date'])

In [12]:
# Checking

df_daily_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    datetime64[ns]
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(7)
memory usage: 110.3 KB

# STEP 4: ANALYZE